checksumBehavior: throw

compressionLevel: mixed

enableGlobalCache: true

enableImmutableInstalls: false

enableInlineBuilds: true

httpRetry: 5

httpTimeout: 120000

nmMode: hardlinks-local

nodeLinker: node-modules

npmRegistryServer: "https://registry.npmjs.org/"
