name: {{ .Project.Metadata.Name }}-infrastructure
runtime:
  name: nodejs
  options:
    typescript: true
description: {{ .Project.Metadata.Name }} Platform Infrastructure - GCP/GKE

config:
  # Default GCP configuration
  gcp:project: ${PULUMI_GCP_PROJECT}
  gcp:region: us-central1
  gcp:zone: us-central1-a

  # Project configuration
  {{ .Project.Metadata.Name }}:organization: {{ .Project.Metadata.Organization }}
  {{ .Project.Metadata.Name }}:domain: {{ .Project.Metadata.Domain }}
