#!/bin/bash
# =============================================================================
# {{ .Project.Metadata.Name }} - Delete k3d Cluster
# =============================================================================

base_path="${GITHUB_WORKSPACE:-/workspaces/{{ .Project.Metadata.Name }}}"

# Import dependencies
source "$base_path/.devcontainer/k3s/scripts/logger.sh"

CLUSTER_NAME={{ .Project.Metadata.Name }}-cluster

logger_warning "Deleting k8s cluster: $CLUSTER_NAME"
k3d cluster delete $CLUSTER_NAME
logger_success "Cluster deleted"
